(
    id: "small_rat",
    display_name: "Small Rat",
    max_health: 20,
    stats: Stats(
        strength: 1,
        agility: 1,
        speed: 1,
        armour: 1,
    ),
    attacks: [
        EnemyAttack(
            potency: 1,
            damage_type: Slash,
        )
    ]
)
