(
    id: "bronze_sword",
    name: "Bronze sword",
    description: "A bronze sword.",
    stackable: false,
    slot: Some(MainHand),
    stats: Some(Stats(
        strength: 1
    )),
    on_hit: [],
    on_use: [],
    consumable: false,
)
