(
    id: "start_01",
    name: "Chair Daddy's Castle 1",
    narration: (
      lines: [
        "You gaze around the neglected dining hall...",
        "and see a pair of pitch eyes holding you.",
        "You shit and piss your pants.",
      ]
    ),
    dialogue: (
      lines: []
    ),
    exits: [
        Continue("start_02")
    ]
)
