(
    id: "start_01",
    name: "Chair Daddy's Castle",
    narration: (
      lines: [
        "You gaze around the neglected dining hall...",
        "and see a pair of pitch eyes holding you.",
        "You shit and piss your pants.",
      ]
    ),
    dialogue: (
      lines: [
        (character_id: "chair_daddy", line: "Welcome!")
      ]
    ),
)
