(
    id: "intro_fail",
    name: "???",
    content: Dialogue(
      character_id: Some("unknown"),
      lines: [
        "How disappointing..."
      ]
    ),
    exits: [
        GameOver
    ]
)
