(
    id: "intro_03",
    name: "???",
    is_checkpoint: true,
    content: Dialogue(
      character_id: Some("unknown"),
      lines: [
        "Good!"
      ]
    ),
    exits: [
        Continue("intro_04")
    ]
)
