(
    id: "intro_04",
    name: "???",
    is_checkpoint: false,
    content: Narration(
      lines: [
        "You have {player_health} health. Use it well."
      ]
    ),
    exits: [
        Choice([
            (
                id: "requires-serve",
                to: ("intro_03"),
                label: "Serve",
                requires: Some([
                    TookPath(( area_id: "intro_02", choice_id: Some("serve") ))
                ])
            ),
            (
                id: "requires-retire",
                to: ("intro_fail"),
                label: "Retire",
                requires: Some([
                    TookPath(( area_id: "intro_02", choice_id: Some("retire") ))
                ])
            ),
        ])
    ]
)
