(
    id: "start_02",
    name: "Chair Daddy's Castle 2",
    narration: (
      lines: []
    ),
    dialogue: (
      character_id: Some("chair_daddy"),
      lines: [
        "Welcome...",
        "to my piss lair!",
        "Now... to piss, or not to piss?",
      ]
    ),
    exits: [
        Choice([
            ( to: ("start_03"), label: "Piss" ),
            ( to: ("start_04"), label: "Not piss" ),
        ])
    ]
)
