(
    id: "start_02",
    name: "Chair Daddy's Castle 2",
    narration: (
      lines: []
    ),
    dialogue: (
      lines: [
        (character_id: "chair_daddy", line: "Welcome!")
      ]
    ),
    exits: []
)
