(
    id: "start_02",
    name: "Chair Daddy's Castle 2",
    narration: (
      lines: []
    ),
    dialogue: (
      character_id: Some("chair_daddy"),
      lines: [
        "Welcome...",
        "to my piss lair!",
        "Please! Make yourself at home!",
        "Piss whereever you like."
      ]
    ),
    exits: [
        Continue("start_03")
    ]
)
